pandas
mysql-connector-python  # MySQL connector for Python (mysql.connector as connection)
seaborn
matplotlib
numpy
sshtunnel
geopy
ortools
folium
requests
streamlit
datetime
googlemaps
streamlit-folium
scikit-learn
mlxtend
pulp
plotly
