pandas
mysql-connector-python  # MySQL connector for Python (mysql.connector as connection)
seaborn
matplotlib
numpy
sshtunnel
geopy
ortools
folium
requests
streamlit>=1.10.0
datetime
googlemaps
streamlit-folium
